<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unibo.studio.unigo">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".utils.PersistanceApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Receiver per far partire il background Service all'avvio del telefono -->
        <receiver android:name=".utils.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- Servizio per ricevere notifiche anche quando l'applicazione non è aperta -->
        <service android:name=".utils.BackgroundService" />

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signup.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".main.PostActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".main.QuestionDetailActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>